<!--
  Generated template for the EastercandlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Easter Candle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/eastercandle-large.png"/>
    
<div>
  
          <!-- Float the icon left -->
<button ion-button icon-left color=light float-left (click)="baptismalfontpage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="insidethecathedralpage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />
  <p>
Like the pillar of fire that led God’s chosen people on their journey through the desert, the large Easter (or Paschal) candle spreads its light over the baptismal font and marks our entrance into each Mass and our exit into eternal life, as well, since this candle is placed by the casket at our funerals.  We bless a new candle at each Easter Vigil and burn it throughout the year. Our current rector, Fr. J.J. Mech, has a special tradition of creating the Paschal candles at his parishes. 
  </p>
</div>
</ion-content>
