<ion-header>

  <ion-navbar>
    <ion-title>Ambo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/ambo-large.png"/>
    
  <div>
    
  <button ion-button icon-left color=light float-left (click)="reconciliationchapelpage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="alterpage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />  
    <p>
On the Mount of Transfiguration, the voice of God was heard: "This is my beloved Son, with whom I am well pleased; listen to him." (Matthew 17:5). The Word of the Lord is proclaimed from the ambo, the highest area of the sanctuary used during the liturgy, and the faithful are called to listen and make
a covenant with God. The word “ambo” is derived from the Greek verb, amabainein, which means, “to go up.” The shape and size of the ambo recall
the elevated pulpits found in cathedrals built during the Middle Ages. The height of this platform is meant to provide better audibility
and visibility of the lectors and homilist.
  </p>
  </div>
</ion-content>
