<!--
  Generated template for the AlterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Altar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/alter-large.png"/>
     <div>
   <button ion-button icon-left color=light float-left (click)="ambopage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="cathedrapage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />     
      
      <p>
The center of the sanctuary’s mountain-peak formations commands attention to the stone and glass altar. In a building named for the Most Blessed Sacrament, the altar is appropriately the focal point of the worship space. According to Old and New Testament customs, the altar is fashioned as a table of sacrifice, as well as the paschal banquet table.
<br /><br />
Beneath the altar are four sand-cast cruciform pieces of glass illuminated from within. This glass also contains saints’ relics from the previous altars in the Cathedral. In addition to these relics, Cardinal Adam Maida, then Archbishop of Detroit, added the relics of three
recently canonized saints: Elizabeth Ann Seton, Katharine Drexel and Faustina Kowalski. The carved wood crucifix suspended over the altar was originally hung in the Cathedral as a memorial to those who gave their lives in World War I. The position of the crucifix references the sacrificial mountain of Calvary.
 </p>
     </div>
</ion-content>
