<!--
  Generated template for the SanctuaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sanctuary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/sanctuary-large.png"/>
    
  <div>
    
    <button ion-button icon-left color=light float-left (click)="stainedglasspage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="organpipespage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />  
    
    <p>
Five white stone mountain-range formations rise from the Cathedral’s floor and mark specific areas for liturgical activity. The rock-like focal points recall Christ’s promise to Peter: "I for my part declare to you, you are ‘rock’ and on this rock I will build my Church and the gates of netherworld shall not prevail against it." (Matthew 16:18).
<br /><br />
In the center of the sanctuary are the altar, the focal point for the entire building; the ambo, from which the Scriptures are proclaimed; and the cathedra, or chair of the archbishop, from which the building derives its name. The mountain formations here, made from Italian Botticino Fiorito stone, evoke Mount Tabor  near Nazareth, the traditional site of the Transfiguration. The scriptural accounts of the Lord’s Transfiguration give testimony to Christ’s glory being manifest in light as his face shone like the sun, his clothes became white as light (Matthew 17:2). Just as the disciples were drawn into the privileged moment of the Transfiguration, so too are those who come to worship in the Cathedral. From a distance, the stone inlay floor of the sanctuary looks like colorful glacial scree that builds up at the base of a mountain range.

</p>
  </div>
</ion-content>
