<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Self Tour" tabIcon="walk"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Artifacts" tabIcon="map"></ion-tab>
  
  
  
</ion-tabs>