<!--
  Generated template for the BaptismalfontPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Font</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/baptismalfont-large.png"/>
    
  <div>
         <!-- Float the icon left -->
<button ion-button icon-left color=light float-left (click)="shrinetomarypage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="eastercandlepage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />
 
    <p>
The full-immersion baptisimal font carved deep into the floor of the main aisle momentarily halts your journey into the worship space.  Catholic baptismal fonts are typically placed directly in the entryway because we enter into the sacred mysteries through the waters of our baptism.
<br /><br />
Like the pillar of fire that led God's chosen people on their journey through the desert, the pashcal candle spreads its light over the baptismal font.   As the rock gave water to God's people in the desert, the upright stone basin supplies circulating water for the font. It also provides a place for infants to be baptized and allows others to sign themselves with the blessed water, reminding them of their own baptism.
</p>
</div>
</ion-content>
