<!--
  Generated template for the AmbrypagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ambry</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/ambry-large.png"/> 
<!--<img src="image url here" style="position:absolute; top:520px; right:0px;" width="547" height="146" alt="" /> -->
 <!--   <img src="assets/ambry-large.png" style="position:fixed; top:1px; right:0px;" width="547" height="146" alt="" /> -->
<!-- <img src="assets/ambry-large.png" style="position:fixed;"/>-->
  <div>
    
   <button ion-button icon-left color=light float-left (click)="cathedrapage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="eucharisticchapelpage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />    
    <p>
The Ambry at the right of the cathedra is another reservation area, which is crafted out of the same Botticino stone of the other mountain-like formations. This triple peak holds the three vessels of holy oils.
<br /><br />
Called “the ambry,” from the Latin word for armory, this is the storehouse from which these oils, meant to provide God’s protection, are dispensed to all parishes in the Archdiocese of Detroit. The archbishop is the chief consecrator of these oils. Their location next to his cathedra symbolizes that all of the pastoral care of the archdiocese is connected to his apostolic office.
These three oils are the spiritual resources for initiating new members (oil of catechumens), for healing (oil of the sick) and for consecrating churches, altars, and sacred ministers (Chrism).
    </p>
  </div>
</ion-content>