<!--
  Generated template for the CathedraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cathedra</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/cathedra-large.png"/>
    
  <div>
     <button ion-button icon-left color=light float-left (click)="alterpage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="ambrypage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />     
    
    <p>
In the cathedral church, special importance is placed on the bishop’s chair or <i>cathedra</i>, the oldest insignia of a bishop’s teaching office. The chair is the sign that he, like the apostles and prophets, is invested with the authority to preside over God’s people to teach and to offer pastoral guidance. As Moses witnessed the Transfiguration, this “seat of Moses” stands as an ancient sign of leadership. From here, the archbishop brings insight to the Sacred Scriptures as he preaches, teaches and presides as chief celebrant of the Eucharist.
<br /><br />
Speaking and acting <i>ex cathedra </i> (from the chair), the archbishop proclaims Christ as the light of humankind. The archbishop’s personal coat of arms above the cathedra signifies that he is the proper and only occupant of this seat. Upholstery in green, the heraldic color of an archbishop, further defines this chair of office.
    </p>
  </div>
</ion-content>
