<!--
  Generated template for the InsidethecathedralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cathedral</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/insidethecathedral-large.png"/>
    
  <div>
            <!-- Float the icon left -->
<button ion-button icon-left color=light float-left (click)="eastercandlepage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="stainedglasspage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />  
    
    <p>
Through the vestibule doors, pilgrims are drawn from the dark into the light of the worship space. One of the integral elements in the redesign of the Cathedral is the experience of light in a new way - the light that unifies and animates all creation.
<br /> <br />
No matter the time of day or the season, those inside the Cathedral are never shut off from an awareness of the rhythm and reality of the world outside. The sunlight that enters the upper part of the nave gives life to the antique stained glass windows. The windows in the upper part of the nave celebrate the history of the Church and the glory of the saints. The same light pours through the lower nave in a pure, direct way, expressing God’s grace in this particular moment of time - light ever ancient, ever new.
<br /> <br />
The Cathedral illumination is reversed at night through the use of prism transparencies. Thus when darkness falls outside, the lights of the Cathedral’s interior project outward to the street, alerting and inviting passersby to the life inside. <i>Your light must shine before others, that they may see your good deeds and glorify your heavenly Father </i> (Matthew 5:16).

</p>
  </div>
</ion-content>
