<!--
  Generated template for the ReconciliationchapelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reconciliation Chapel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/reconciliationchapel-large.png"/>
    
  <div>
    
         <button ion-button icon-left color=light float-left (click)="reliefpage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="ambopage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />  
    <p>
Carved into the northeast wall of the Cathedral is an opening that leads a penitent to two confessionals, or reconciliation chapels. Another peak of Botticino stone announces this location in the Cathedral. A statue of St. Anne and her young daughter, the Blessed Virgin Mary, welcome all into the presence of Jesus’ merciful love.
</p>
  </div>
</ion-content>
