<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tour Site Listing (list.html)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <!-- <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    Selection: <b>{{selectedItem.title}}</b>
  </div> -->
    
    <ion-list> 

 <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/shrinetomary-thumbnail.png">
      </ion-thumbnail>
      <h2>Shrine to Mary</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="shrinetomarypage();">Details</button>
       
    </ion-item>
 
 <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/eastercandle-thumbnail.png">
      </ion-thumbnail>
      <h2>Easter Candle</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="eastercandlepage();">Details</button>
       
    </ion-item>
 
 <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/insidethecathedral-thumbnail.png">
      </ion-thumbnail>
      <h2>Inside the Cathedral</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="insidethecathedralpage();">Details</button>
       
    </ion-item>
 
 <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/sanctuary-thumbnail.png">
      </ion-thumbnail>
      <h2>The Sanctuary</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="sanctuarypage();">Details</button>
       
    </ion-item>
 
 <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/relief-thumbnail.png">
      </ion-thumbnail>
      <h2>Relief (tympanum)</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="reliefpage();">Details</button>
       
    </ion-item>
 
 <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/reconciliationchapel-thumbnail.png">
      </ion-thumbnail>
      <h2>Reconciliation Chapel</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="reconciliationchapelpage();">Details</button>
       
    </ion-item>

    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/stainglasswindowthumbnail.png">
      </ion-thumbnail>
      <h2>Stained glass window</h2>
      <p></p>
        
   <!--   <button ion-button clear item-right (click)="newpage('StainedGlassPage')">Details</button> -->
      <button ion-button clear item-right (click)="stainedglasspage();">Details</button>
       
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/ambry-thumbnail.png">
      </ion-thumbnail>
      <h2>The Ambry</h2>
      <p></p>
        
   <!--   <button ion-button clear item-right (click)="newpage('StainedGlassPage')">Details</button> -->
      <button ion-button clear item-right (click)="ambrypage();">Details</button>
       
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/ambo-thumbnail.png">
      </ion-thumbnail>
      <h2>The Ambo</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="ambopage();">Details</button>
       
    </ion-item>
   
    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/alter-thumbnail.png">
      </ion-thumbnail>
      <h2>The Alter</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="alterpage();">Details</button>
       
    </ion-item>
     <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/baptismalfont-thumbnail.png">
      </ion-thumbnail>
      <h2>The Font</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="baptismalfontpage();">Details</button>
       
    </ion-item>
     
    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/cathedra-thumbnail.png">
      </ion-thumbnail>
      <h2>The Cathedra</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="cathedrapage();">Details</button>
       
    </ion-item>
    
   <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/eucharisticchapel-thumbnail.png">
      </ion-thumbnail>
      <h2>The Eucharistic Reservation Chapel</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="eucharisticchapelpage();">Details</button>
       
    </ion-item>
   <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/organpipes-thumbnail.png">
      </ion-thumbnail>
      <h2>The Cathedral Pipe Organs</h2>
      <p></p>
        
      <button ion-button clear item-right (click)="organpipespage();">Details</button>
       
    </ion-item> 
   
    </ion-list>
</ion-content>

