<!--
  Generated template for the SelfTourPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Self Tour</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="login-content" style="background-image: url('assets/layoutClean.png'); background-repeat: no-repeat;background-size: contain; background-position:center; border: 5px solid red;" >

    
    <ion-grid>
       <ion-row>
  <!--  <ion-col width-25><button ion-button clear item-right (click)="stainedglasspage()">Stained Glass</button></ion-col> -->
      <ion-col>1</ion-col>
      <ion-col>.</ion-col>
       <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
          <ion-row>
  <!--  <ion-col width-25><button ion-button clear item-right (click)="stainedglasspage()">Stained Glass</button></ion-col> -->
      <ion-col>2</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
  <ion-row>
  <!--  <ion-col width-25><button ion-button clear item-right (click)="stainedglasspage()">Stained Glass</button></ion-col> -->
   <!--   <ion-col width-25>1</ion-col>
      <ion-col width-25>2</ion-col>
       <ion-col width-25>3</ion-col> 
      <ion-col width-25>4</ion-col>-->
   <ion-col>3</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
  <ion-row>
 <ion-col>4</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
<ion-row>
 <ion-col>5</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
</ion-row>
 <ion-row>
<ion-col>6</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
 </ion-row>
  <ion-row>
<ion-col>7</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
<ion-row>
<ion-col>8</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
</ion-row>
<ion-row>
<ion-col>9</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
          <ion-row>
  <!--  <ion-col width-25><button ion-button clear item-right (click)="stainedglasspage()">Stained Glass</button></ion-col> -->
      <ion-col>0</ion-col>
      <ion-col>.</ion-col>
       <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
      <ion-row>
  <!--  <ion-col width-25><button ion-button clear item-right (click)="stainedglasspage()">Stained Glass</button></ion-col> -->
      <ion-col>1</ion-col>
      <ion-col>.</ion-col>
       <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
          <ion-row>
  <!--  <ion-col width-25><button ion-button clear item-right (click)="stainedglasspage()">Stained Glass</button></ion-col> -->
      <ion-col>2</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
  <ion-row>
  <!--  <ion-col width-25><button ion-button clear item-right (click)="stainedglasspage()">Stained Glass</button></ion-col> -->
   <!--   <ion-col width-25>1</ion-col>
      <ion-col width-25>2</ion-col>
       <ion-col width-25>3</ion-col> 
      <ion-col width-25>4</ion-col>-->
   <ion-col>3</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
  <ion-row>
 <ion-col>4</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
<ion-row>
 <ion-col>5</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
</ion-row>
 <ion-row>
<ion-col>6</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
 </ion-row>
  <ion-row>
<ion-col>7</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
<ion-row>
<ion-col>8</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
</ion-row>
<ion-row>
<ion-col>9</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
     <ion-row>
  <!--  <ion-col width-25><button ion-button clear item-right (click)="stainedglasspage()">Stained Glass</button></ion-col> -->
      <ion-col>0</ion-col>
      <ion-col>.</ion-col>
       <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
      <ion-row>
  <!--  <ion-col width-25><button ion-button clear item-right (click)="stainedglasspage()">Stained Glass</button></ion-col> -->
      <ion-col>1</ion-col>
      <ion-col>.</ion-col>
       <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
          <ion-row>
  <!--  <ion-col width-25><button ion-button clear item-right (click)="stainedglasspage()">Stained Glass</button></ion-col> -->
      <ion-col>2</ion-col>
      <ion-col>.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col> 
      <ion-col >.</ion-col>
      <ion-col>.</ion-col>
       <ion-col >.</ion-col>
      <ion-col>.</ion-col>
  </ion-row>
  

 
</ion-grid>
</ion-content> 
