<!--
  Generated template for the SelfTourPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Self Tour</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div id="lynskey">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 550 800" >
    <title>Self Tour Details</title>
    
       
   <!-- <circle cx="315" cy="45" r="25" stroke="black" stroke-width="1"  /> 
    <text x="5" y="119" fill="black">Pipe Organs
    <tspan x="5" y="146"></tspan>
    <tspan x="5" y="170">Press '7' below </tspan>
    <tspan x="10" y="199">for details</tspan>
    </text> -->
  <!--  <circle cx="770" cy="401" r="172" /> -->
 <!--   <text x="10" y="20" fill="black" >xxxFive white stone mountain-range formations rise from the Cathedral’s floor and mark specific areas for liturgical activity. The rock-like focal points recall Christ’s promise to Peter: I for my part declare to you, you are ‘rock’ and on this rock I will build my Church and the gates of netherworld shall not prevail against it (Matthew 16:18).
In the center of the sanctuary are the altar, the focal point xxxfor the entire building; the ambo, from which the Scriptures are proclaimed; and the cathedra, or chair of the archbishop, from which the building derives its name. The mountain formations here, made from Italian Botticino Fiorito stone, evoke Mount Tabor  near Nazareth, the traditional site of the Transfiguration. The scriptural accounts of the Lord’s Transfiguration give testimony to Christ’s glory being manifest in light as his face shone like the sun, his clothes became white as light (Matthew 17:2). Just as the disciples were drawn into the privileged moment of the Transfiguration, so too are those who come to worship in the Cathedral. From a distance, the stone inlay floor of the sanctuary looks like colorful glacial scree that builds up at the base of a mountain range.
</text>  -->
 <!--   <polygon points="256,29 443,29 443,60 357,101 266,65"  fill="gray"/>
    <text x="10" y="20" style="fill:red;">Several lines:
    <tspan x="10" y="45">First line.</tspan>
    <tspan x="10" y="70">Second line.</tspan>
  </text>
    <polygon points="646,133 367,159 245,350 283,409 390,434 413,379 456,370 500,400 677,207 684,229 697,217 669,133"  />
    <text x="10" y="20">Titanium frame</text>
    <circle cx="225" cy="401" r="51" />
    <text x="320" y="570">SRAM Apex rear dérailleur</text> -->
  </svg>
</div>
<p text-center>
  Scroll for additional artifact buttons
</p>
<p>
  <button ion-button  color="button1" item-left (click)="shrinetomarypage();">1</button>
       <button ion-button  color="button2" item-left (click)="baptismalfontpage();">2</button>
        <button ion-button  color="button3" item-left (click)="eastercandlepage();">3</button>
       <button ion-button  color="button4" item-left (click)="insidethecathedralpage();">4</button>
        <button ion-button  color="button5" item-left (click)="stainedglasspage();">5</button>
       <button ion-button  color="button6" item-left (click)="sanctuarypage();">6</button>
        <button ion-button  color="button7" item-left (click)="organpipespage();">7</button>
       <button ion-button  color="button8" item-left (click)="reliefpage();">8</button>
        <button ion-button  color="button9" item-left (click)="reconciliationchapelpage();">9</button>
       <button ion-button  color="button10" item-left (click)="ambopage();">10</button>
        <button ion-button color="button11" item-left (click)="alterpage();">11</button>
         <button ion-button color="button12" item-left (click)="cathedrapage();">12</button>
          <button ion-button color="button13" item-left (click)="ambrypage();">13</button>
           <button ion-button color="button14" item-left (click)="eucharisticchapelpage();">14</button>
    
  </p>


</ion-content>
