<!--
  Generated template for the StainedglasspagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>
  .div1 {
    width:300px;
    height: 100px;
    border: 1px solid blue;
  }
  .text{
    position:relative;
    margin-top:10px;
}
  
</style>
<ion-header>

  <ion-navbar>
    <ion-title>Stained Glass Windows</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
 <!--<img src="assets/stainglasswindow.png"/>-->
 <!--<img src="image url here" style="position:absolute; top:520px; right:0px;" width="547" height="146" alt="" /> -->
 <!--   <img src="assets/ambry-large.png" style="position:fixed; top:1px; right:0px;" width="547" height="146" alt="" /> -->
<!-- <img src="assets/ambry-large.png" style="position:fixed;"/>-->
    
 <!-- <img src="assets/stainglasswindow.png" style="position:fixed; width: 100px; height:100px;left:50%; top:50%; margin-left: -50px; margin-top: -50px;" /> -->
<!--<img src="assets/stainglasswindow.png" style="position:fixed; left:0%; top:0%; margin-left: -50px; margin-top: -50px;" /> -->
<div>
 <!-- <div class="wrapper"> for scrolling -->
<img src="assets/stainglasswindow.png" />
</div>
<!-- <div>  for scrolling  
 <p style='padding-left : 10px'>.</p> 
<p style='padding-left : 10px'>.</p>
</div> -->
<div>
<!-- for scrolling
<div class="bottom-wrapper"> -->



<button ion-button icon-left color=light float-left (click)="insidethecathedralpage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="sanctuarypage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />  
    

    <p>
Christ’s light and life shines into Blessed Sacrament Cathedral through the rich colors of Medieval-style stained glass windows. Blessed Sacrament Cathedral contains 22 such windows by the artisan William Willet. His Life of Christ and the Early Church series of windows begins
with the Nativity in the back of the north wall and continues in clockwise pattern down the south wall of the nave, where Pentecost is depicted.

<br /><br />
There is an intentional chronological error in the apse windows where the Lord’s Carrying of His Cross on Good Friday is inverted with the Institution of the Holy Eucharist on Holy Thursday. This was done in order to honor the event in Christ’s life from which the Cathedral takes its name. It also draws attention to the altar wherein the Lord’s Supper is extended into our time.
<br /><br />
The Rose Window over the Woodward entrance is titled Cherubs in Glory. This circular window is best appreciated in the late afternoon, when sunlight bathes the interior with a warm glow, reminding the viewer of the glory of the life to come.
<br /><br />
In lancet windows beneath this New Testament history, the Procession of Saints series of windows depicts heroes and heroines from every era of Christendom. These holy women and men join those assembled on earth in one great communion.
<br /><br />
The great windows of the north and south apses are arguably Willet’s tour de force. The north window is called the Holy Name Window. Filling the whole wall of the south apse in the Eucharistic Reservation Chapel is a window depicting the Genealogical Tree of Christ. Mary, the first tabernacle for Jesus, is the predominant figure. Beneath her is Solomon holding a model of the tabernacle he built in Jerusalem. The Assumption scene in the front
wall and the St. Cecilia Window in the rear complete the windows in this chapel.
    </p>
</div>
</ion-content>
