page-stainedglasspage {

.wrapper {
    width:100%;
    position:fixed;
    z-index:10;
    background:inherit;
}

.bottom-wrapper {
    width:100%;
    padding-top:220px;
    z-index:5;
    overflow:auto;
}

}
