<!--
  Generated template for the ReliefPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Relief</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/relief-large.png"/>
    
  <div>
    
     <button ion-button icon-left color=light float-left (click)="organpipespage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="reconciliationchapelpage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />  
    <p>
The beautiful sculpture to the side of the altar is a twin to the tympanum that hangs above the door of the Archdiocesan Chancery building at 12 State Street.  The art depicts St. Anne, Jesus, and the Blessed Virgin Mary (stepping on a snake, since she’s the new Eve), flanked by angels.  It was produced by Michael Kapetan and Sergei Mitrofanov and installed in 2016.   Jesus, the Living Word, is standing on the Word, upon which is written a portion of the prologue of John’s Gospel: “The Word became flesh and dwelt among us.”
The image itself is more than nine centuries old, but holds special significance for the Archdiocese since St. Anne is Detroit’s patroness.  Included on the Christ Child’s tunic is a trillium, signifying the Trinity, and also Michigan’s state flower.  Apple trees from the Garden of Eden also remind us of one of our local crops, and the angels’ features reflect our diocesan diversity – a way of reminding each of us that the New Covenant in Christ is personal, familial, and universal.
    </p>
  </div>
</ion-content>
