<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to the Cathedral of the Most Blessed Sacrament</h2>
   <p>
      <img src="assets/cathedral.jpg"/>
      
      <br>
      <br>
   </p>
   <p>
       The Cathedral of the Most Blessed Sacrament:  a community of joyful missionary disciples.  You are loved and wanted here. 
  </p>
  <!--<p>
   This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p> -->
  <!--<p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p> -->
</ion-content>
