<!--
  Generated template for the ShrinetomaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Shrine To Mary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/shrinetomary-large.png"/>
 <div>
     <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="baptismalfontpage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>



    <br /> <br />



    <p>
Entering the dark vestibule of the Cathedral, you pass an evocative shrine to Mary, the help to and mother of all Christians. This is one of four statues of Mary within the worship space; there are others in the parish offices.  All are welcome to pause here and anywhere else to pray.
    </p>
</div>
</ion-content>
