page-diagram {
body {
  font-family: Avenir, Helvetica, sans-serif;
}

#lynskey circle, #lynskey polygon {
  fill: none;
  pointer-events: all;
}

#lynskey text {
  opacity: 0;
  transition: .3s;
  font-size: 24px;
}

#lynskey polygon:hover,
#lynskey circle:hover {
  cursor: pointer;
}

#lynskey polygon:hover + text,
#lynskey circle:hover + text, 
#lynskey circle:focus + text,
#lynskey polygon:focus + text
{
  opacity: 1;
}

@media all and (max-width: 500px) {
  #lynskey text {
    font-size: 28px;
  }
}
#lynskey { 
  width: 80%;
  margin: 0 auto;
  max-width: 1500px;
}

#lynskey svg {
	/* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/lynskey-med.jpg'); */
 /* background-image: url('../assets/lynskey-med.jpg');*/
 background-image: url('../assets/layoutClean-_1_.svg');
  background-size: cover;
}

@media all and (min-width: 750px) {
	#lynskey svg {
		/* background-image: url('../assets/lynskey-med.jpg');*/
   /*   background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/lynskey-med.jpg'); */
     background-image: url('../assets/layoutClean-_1_.svg'); 
	}
}

}

