<!--
  Generated template for the OrganpipesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cathedral Pipe Organs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/organpipes-large.png"/>
    
 <div>
   <button ion-button icon-left color=light float-left (click)="sanctuarypage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
         <!-- Float the icon right -->
<button ion-button icon-right color=light float-right (click)="reliefpage()">
  
  <ion-icon name="arrow-dropright"></ion-icon>
</button>

 <br /> <br />  
  <p>
Blessed Sacrament houses two pipe organs: the original organ, a Casavant Frère, and an Austin organ. The 55 stops and more than 3,500 individual pipes of the Casavant Frère are hidden in chambers behind the stone walls of the choir loft. This instrument is at its best when accompanying chants or playing compositions of the Romantic era.
<br /><br />
The Austin organ, built in Hartford, Connecticut, is designed to support congregational singing. Its crisper sound and location in the main body of the Cathedral are indicative of the different role it plays in our worship today. The Austin organ has 1,745 pipes and is composed of 32 stops capable of producing an almost limitless number of tonal variations. The largest pipe measures about 23 feet long, and the smallest is about the size of an ordinary lead pencil.
<br /><br />
Together, these two organs allow church musicians to convincingly play sacred music from many different musical eras. Rich and sonorous each in their own unique ways, the organs of Blessed Sacrament Cathedral fill its worship space with power and majesty.
 <p>
 </div>
</ion-content>
