<!--
  Generated template for the EucharisticchapelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Eucharistic Reservation Chapel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src="assets/eucharisticchapel-large.png"/>
    
 <div>
  
     
   <button ion-button icon-left color=light float-left (click)="ambrypage()">
  
  <ion-icon name="arrow-dropleft"></ion-icon>
</button>
   <br /> <br />
  <p>
The Eucharistic Reservation Chapel provides a special place for the tabernacle and personal prayer. An ever-burning sanctuary lamp announces
the Chapel from the main nave. This lamp is a reminder of the words of the Easter Vigil proclamation: the light that no darkness can extinguish.
<br /><br />
The peaks of the
mountain-like formation begun in the sanctuary reach over the tabernacle. The word “tabernacle” is taken from the Latin word for tent.
Peter offered to set up a tent on Mount Tabor to house the transfigured Christ. This chapel recalls that event with carved French Caen stone
statues of Christ and those mentioned in the Transfiguration account: Christ, Peter, James, John, Moses and Elijah. St. Paul, who experienced
a conversion in a blinding light and whose epistles contain so much about the importance of the Eucharist for the early Christian community,
is also given the honor of being represented as part of this gathering. Mary, Joseph and other saints are honored on the sidewalls in carved
Caen reredos relocated from the former side altars.
<br /><br />
The restored cedar coffered ceiling harkens back to the architecture of the Jerusalem temple
built by Solomon. In this setting, the tabernacle recalls that ancient image of a “house” for the divine presence.
  </p>
 </div>
</ion-content>
